<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <div class="container">
      <h4>TOTAL OUTGOING</h4>
      <p>$ {{this.totalIncome}}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <h4>TOTAL INCOME</h4>
      <p>$ {{this.totalOutcome}}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <h4>TOTAL</h4>
      <p>$ {{this.totalIncome - this.totalOutcome}}</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="1:1">

  <mat-grid-tile colspan="1">
    <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
      [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
      (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-pie-chart>
  </mat-grid-tile>

</mat-grid-list>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile colspan="1">
      <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
      <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </mat-grid-tile>
</mat-grid-list>
