<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <div class="container">
      <h4>TOTAL OUTGOING</h4>
      <p>$ 4.000</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <h4>TOTAL INCOME</h4>
      <p>$ 4.000</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <h4>TOTAL</h4>
      <p>$ 4.000</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile colspan="2">
    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">2</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>
